* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body.overlay {
  overflow: hidden;
  height: 100vh;
}

body.stop {
  overflow: visible;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f172a;
  z-index: 1001;
  box-shadow: 0 2px 10px rgba(37, 99, 235, 0.08);
}

nav {
  /* border: 2px solid red; */
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav.lightmode .navbar-nav {
  gap: 0.5em;
}

.navbar-nav a {
  color: white;
  font-weight: 500;
}

.navbar-nav a:hover {
  color: #e39c44;
}

nav .btn {
  background-color: #e39c44;
  color: white;
  padding: 9px;
}

nav .btn:hover {
  background-color: #e39c44;
  color: white;
}

.menuBtn {
  display: flex;
  gap: 1em;
}

.menuBtn .dropdown-menu {
  background-color: #1f3b4d;
  color: white;
}

.menuBtn .dropdown-menu .dropdown-item:hover {
  color: black !important;
  background-color: #e39c44;
}

.hamburger {
  font-size: 2em;
  display: none;
  color: white;
}

@media (max-width: 993px) {
  .navbar-nav {
    display: none;
    gap: 0em;
  }

  .menuBtn {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

.mobile-menu {
  display: none;
}

.toggle {
  text-decoration: none;
}

.toggle2 {
  text-decoration: none;
}

.toggle3 {
  text-decoration: none;
}

.mobileBtn {
  text-align: center;
  margin-top: 30px;
}

.mobileBtn .btn {
  background-color: #e39c44;
  color: white;
  padding: 9px;
}

.mobileBtn .btn:hover {
  background-color: #e39c44;
  color: white;
}

@media (max-width: 993px) {
  .mobile-menu {
    background-color: #0f172a;
    color: white;
    display: block;
    position: fixed;
    z-index: 1000;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 160px 10px 0px 10px;
    transform: translateY(-100%);
    transition: 0.3s all ease;
  }

  .mobile-menu.show {
    transform: translateY(0);
  }

  .mobile-menu.hide {
    transform: translateY(-150%);
  }

  .mobile-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.3em;
  }
}

/* HERO SECTION */
.hero {
  margin-top: 60px;
  /* background-image: linear-gradient(135deg, #fff7f5, #fef2f2); */
  background-image: linear-gradient(135deg, #1f3b4d, #2e2e2e);
  padding: 80px 10px 60px 10px;
  overflow-x: hidden;
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto !important;
}

.hero-left {
  max-width: 600px;
  padding-right: 10px;
  transform: translateX(-115%);
  transition: 2s ease all;
  opacity: 0;
}

.hero-left.show {
  transform: translateX(0);
  opacity: 1;
}

.hero-left h1 {
  color: #ededed;
}

.hero-left p {
  color: #c9d1d9;
}

.hero-left .hero-cta {
  display: flex;
  gap: 1em;
  margin-top: 60px;
}

.hero-left .btn1 {
  background-color: #e39c44;
  color: white;
  padding: 9px;
}

.hero-left .btn2 {
  background-color: white;
  color: #e39c44;
  border: 2px solid #e39c44;
  padding: 9px;
}

.hero-right {
  max-width: 600px;
  min-width: 0;
  transform: translateX(120%);
  transition: 2s ease all;
  opacity: 0;
}

.hero-right.show {
  transform: translateX(0);
  opacity: 1;
}

.hero-right img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  height: auto;
  object-fit: cover;
}

@media (max-width: 993px) {
  .hero .wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3em;
  }

  .hero-left .hero-cta {
    justify-content: center;
  }
}

/* PROMISE SECTION */
.promise {
  padding: 70px 10px 90px 10px;
  background-color: #243746;
}

.promise .wrapper {
  max-width: 1300px;
  margin: auto;
}

.promise .wrapper .heading {
  text-align: center;
  color: #e39c44;
  border-bottom: 2px solid #e39c44;
  /* border-bottom: #e39c44; */
  padding-bottom: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.promise .wrapper .cover {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.promise .wrapper .cover .hard h3 {
  color: #e26b5c;
  font-weight: bold;
  padding-bottom: 25px;
}

.promise .wrapper .cover .hard li {
  color: #c9d1d9;
}

.promise .wrapper .cover .hard i {
  color: #e26b5c;
  font-weight: bold;
}

.promise .wrapper .cover .fix h3 {
  color: #e39c44;
  font-weight: bold;
  padding-bottom: 25px;
}

.promise .wrapper .cover .fix li {
  color: #ededed;
}

.promise .wrapper .cover .fix i {
  color: #e39c44;
  font-weight: bolder;
}

.promise .wrapper .cover div ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2em;
}

@media (max-width: 993px) {
  .promise .wrapper .cover {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 6em;
  }
}

.how {
  background-color: #2e2e2e;
  /* background-image: linear-gradient(135deg, #ffffff, #f3f4f6); */
  padding: 90px 10px 90px 10px;
}

.how .wrapper {
  max-width: 1300px;
  margin: auto;
}

.how .wrapper h1 {
  /* color: #111827; */
  text-align: center;
  color: #ffa726;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.how .wrapper .cover {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.how .wrapper .cover h3 {
  color: white;
}

.how .wrapper .cover p {
  color: #c9d1d9;
}

.how .wrapper .cover .browse {
  background: #243746;
  border-radius: 12px;
  padding: 20px;
}

.how .wrapper .cover .chat {
  background: #243746;
  border-radius: 12px;
  padding: 20px;
}

.how .wrapper .cover .book {
  background: #243746;
  border-radius: 12px;
  padding: 20px;
}

.how .wrapper .cover i {
  font-size: 3em;
  padding-bottom: 20px;
  color: #6b7280;
}

.how .wrapper .cover div {
  text-align: center;
  color: #374151;
}

@media (max-width: 993px) {
  .how .wrapper .cover {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6em;
  }
}

.built {
  padding: 90px 10px 90px 10px;
  background-color: #1f3b4d;
}

.built.show {
  transform: translateX(0);
  opacity: 1;
}

.built .wrapper {
  padding-top: 30px;
  max-width: 1300px;
  margin: auto;
}

.built .wrapper h1 {
  text-align: center;
  color: #ffa726;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.built .wrapper .cover {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  color: white;
}

.built .wrapper .cover .child {
  max-width: 600px;
}

.built .wrapper .cover .child i {
  padding-right: 30px;
  font-size: 1em;
}

.built .wrapper .cover .quote {
  background-color: #243746;
  font-style: italic;
  padding: 30px 20px 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  color: white;
  border-left: thick solid #e39c44;
}

@media (max-width: 993px) {
  .built .wrapper .cover {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .built .wrapper .cover .quote {
    text-align: center;
  }
}

.contact {
  padding: 70px 10px 70px 10px;
  background-image: linear-gradient(135deg, #2e2e2e, #1f3b4d);
}

.contact .wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .wrapper .formleft {
  max-width: 600px;
  color: white;
}

.contact .wrapper .formleft h1 {
  color: white;
  padding-bottom: 30px;
  color: #e39c44;
  font-weight: bold;
}

.contact .wrapper .formright {
  min-width: 600px;
  padding: 0px 10px 0px 10px;
}

.contact .wrapper form {
  padding-top: 50px;
  background-color: #243746;
  padding: 40px 20px 20px 20px;
}

.contact .wrapper form .diff {
  border: 1px solid #e5e7eb;
  padding: 10px 0px 10px 10px;
  font-weight: bold;
}

.contact .wrapper form .diff:focus {
  border: 2px solid #e39c44;
}

.contact .wrapper form .sure {
  display: flex;
  align-items: center;
  color: #c9d1d9;
}

.contact .wrapper form .sure .radio {
  margin-right: 5px;
  margin-left: 15px;
}

.contact .wrapper form .btn {
  margin-top: 30px;
  background-color: #e39c44;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px;
}

.contact .wrapper form .btn:hover {
  background-color: #e39c44;
}

@media (max-width: 993px) {
  .contact .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .contact .wrapper .formleft {
    text-align: center;
  }

  .contact .wrapper .formright {
    min-width: 550px;
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 549px) {
  .contact .wrapper .formright {
    min-width: 500px;
  }
}

@media (max-width: 500px) {
  .contact .wrapper .formright {
    min-width: 450px;
  }
}

@media (max-width: 449px) {
  .contact .wrapper .formright {
    min-width: 400px;
  }
}

@media (max-width: 400px) {
  .contact .wrapper .formright {
    min-width: 350px;
  }
}

@media (max-width: 372px) {
  .contact .wrapper .formright {
    min-width: 150px;
  }
}

.trust {
  padding: 70px 10px 70px 10px;
  background-color: #243746;
  color: white;
}

.trust .wrapper {
  max-width: 1300px;
  margin: auto;
}

.trust .wrapper h1 {
  text-align: center;
  color: #ffa726;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.trust .wrapper .cover {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.trust .wrapper .cover i {
  color: #16a34a;
}

@media (max-width: 993px) {
  .trust .wrapper .cover {
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }
}

footer {
  /* margin-top: 40px; */
  padding: 30px 10px 30px 10px;
  background-color: #121a21;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

footer .wrapper ul {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  text-align: center;
  gap: 1em;
}

footer .wrapper ul li a {
  color: white;
}

footer .wrapper ul li a:hover {
  color: #e39c44;
}

footer .wrapper .icons {
  color: white;
  display: flex;
  gap: 1em;
  font-size: 1.2em;
}

footer .wrapper .icons i:hover {
  color: #2563eb;
}

footer .wrapper .tagline {
  align-items: center;
  color: white;
  font-style: oblique;
}

@media (max-width: 768px) {
  footer .wrapper {
    flex-direction: column;
    gap: 2em;
  }
}
